<!DOCTYPE html>
<html lang="en">
<head>
    <title>F1 Teams 2023</title>

    <meta charset="UTF-8">
    <meta name="description" content="Formula 1 Teams Data for the 2023 Season">
    <meta name="author" content="Petra Habjanec">

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin = "anonymous" referrerpolicy = "no-referrer"> </script>
    <script src="/function.js"> </script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>F1 TEAMS 2023</h1>
    <% if (auth) {%>
        <a href="/profile">Korisni훾ki profil</a>
        <a href="/osvjezi">Osvje탑i preslike</a>
    <%} else {%>
        <a href="/login/">Prijava</a>
    <% } %>
    <ul>
        <li><b>Name:</b> data about F1 teams 2023 season(after Austin GP)</li>
        <li><b>Licence:</b> <a href="https://github.com/pehab1611/OR/blob/main/LICENSE">licence</a></li>
        <li><b>Author name:</b> Petra Habjanec</li>
        <li><b>Language:</b> english</li>
        <li><b>description:</b></li>
        <ul>
            <li>id</li>
            <li>team name</li>
            <li>team base</li>
            <li>team chief</li>
            <li>chassis</li>
            <li>power unit</li>
            <li>first entry</li>
            <li>number of team championships</li>
            <li>team's number of driver's championsips</li>
            <li>highest team race finish</li>
            <li>number of team's pole positions</li>
            <li>number of team's fastest laps</li>
            <li>team's points</li>
            <li><b>drivers:</b> number, name, last name, nationality</li>
        </ul>
        <li><b>key words:</b>klju훾ne rije훾i: Formula 1, 2023, motorsport</li>
    </ul>
    <button onclick="openDataTable()">Datatable</button>
    <button onclick="serveJson()">JSON data</button>
    <button onclick="serveCsv()">CSV data</button>
</body>